{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Noticia - Blog de Autos
{% endblock %}

{% block contenido %}
    <div class="container mt-5">
        <a class="ui-pdp-breadcrumb__link" href="{% url 'noticias' %}">Volver</a> 
        <div class="row">
            <div class="col-lg-7">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">Honda Civic Type R 2023: cazado en movimiento poco antes de su presentación</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">14 de Junio 2022</div>
                        <!-- Post categories-->
                        
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://soymotor.com/sites/default/files/imagenes/noticia/honda_civic_type_r_2023_0.jpg" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-4">
                        <p class="fs-5 mb-4">El nuevo Honda Civic Type R se presentó en el pasado Salón de Tokio aún ataviado de un frondoso camuflaje. Será en junio cuando de la cara ya sin nada que ocultar. Este modelo escapa a la estrategia de electrificación de la marca en Europa y se sabe que cuenta con mejoras que afectarán directamente a su comportamiento dinámico. El motor de 2.0 litros turbo ya conocido vuelve a ser de la partida.</p>
                        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/TFUsQPKH3wo" title="YouTube video player" width="560"></iframe>
                        <p class="fs-5 mb-4">La agresiva estrategia de electrificación de Honda contempla que cada uno de sus vehículos a la venta en Europa tenga una versión de este tipo ya en 2022, ya sea híbrida o solamente alimentada por baterías. Por suerte para los más puristas esto no incluye al próximo Honda Civic Type R, cuya llegada se producirá este mismo mes de junio y que de nuevo supone la variante más radical del modelo japonés. No obstante, el coche hizo una primera aparición pública con motivo del Salón de Tokio, eso sí, aún vestido de camuflaje, el mismo que aún lucía hace unos días cuando fue grabado en plena jornada de pruebas por carreteras japonesas.</p>
                        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Mq9zb1hRNTA" title="YouTube video player" width="560"></iframe>
                        <p class="fs-5 mb-4">La nueva versión del compacto deportivo japonés es de mayor tamaño que la que se vende hoy en día, cuya longitud es de 4,52 metros y su batalla de 2,70. Lo que no cambia es su aspecto, de nuevo considerablemente más agresivo que el del resto de los Civic. Su gran alerón trasero, uno de sus aspectos más distintivos, vuelve a estar presente.</p>
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://siempreauto.com/wp-content/uploads/sites/9/2021/10/01-2023-Honda-Civic-Type-R-Camo-1.jpg?quality=60&strip=all&w=1200   " alt="..." /></figure>
                        <p class="fs-5 mb-4">No obstante, lo más importante que se puede adelantar acerca del nuevo Honda Civic Type R es que ofrece de nuevo el conocido propulsor de 2.0 litros turbo. Y no sólo eso, sino que es probable que mantenga los 320 caballos actuales. Se esperan, eso sí, mejoras en términos de eficiencia, además de una caja de cambios manual de seis velocidades y, de nuevo, un sistema de tracción delantera. También se espera la presencia de un diferencial de deslizamiento limitado que ayude a minimizar las pérdidas de motricidad, además de un chasis más rígido y neumáticos de mayor tamaño.</p>
                    </section>
                </article>                
            </div>            
        </div>
    </div>    
{% endblock %}