{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Cambiar Constraseña - Blog de Autos
{% endblock %}

{% block contenido %}
<section class="py-5 gradient-custom">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">  
                        <div class="mb-md- mt-md-4 pb-5">              
                            <h2 class="fw-bold mb-2 text-uppercase">Cambiar Contraseña</h2>
                                <form action="" method="post">{% csrf_token %} 
                                   {{form.as_p}}                           
                                   <button class="btn btn-outline-light btn-lg px-4" type="submit">Guardar Cambios</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>
{% endblock %}
