{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Contacto - Blog de Autos
{% endblock %}

{% block contenido %}
<section class=" py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder">Contactanos</h2>
            <p class="lead mb-0">Nos encantaria escuchar lo que piensas!!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form action="/mensaje/" method="post">{% csrf_token %}
                    <div class="form-group py-2">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtEmail" name="txtEmail" class="form-control" placeholder="Email" maxlength="50" required>
                    </div>     
                    <div class="form-group py-2">
                        <textarea class="form-control" id="mensaje" name="mensaje" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>                        
                    </div>
                    <div class="form-group py-2">
                       <button type="submit" class="btn btn-outline-dark">Enviar Mensaje</button>
                    </div>                
                </form>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br>
{% endblock %}

