{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Creador - Blog de Autos
{% endblock %}

{% block contenido %}
<div class="container px-4 px-lg-5 my-5">
    <h1 class="display-2 fw-bolder my-5">CREADOR DEL BLOG</h1>
    <div class="row gx-4 gx-lg-5 ">
        <div class="col-md-7"><img class="card-img-top " src="\static\IMG_1326.JPG" alt="..." height="400px;" width="500px;"></div>
        <div class="col-md-5 px-4 px-lg-5 my-5  ">
            <div class="fs-5 mb-5">
            </div>
            <p class="lead">Mi Nombre es <b>Tobias Raus</b>,tengo 19 años y cree este blog para que puedan estar al tanto de todo lo que ocurre en el mundo automotriz. Estoy estudiando Ciencias de la Computacion en la UBA y justamente hice este curso de python para adentrarme en el mundo de la programacion y ver que me parece.</b> </p>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>

{% endblock %}