{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Inicar Sesion - Blog de Autos
{% endblock %}

{% block contenido %}
<body background="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/NNC7TA7K2NG5HM2REZSAE244XE.jpg" >
    <section class="py-5 gradient-custom">
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">  
                            <div class="mb-md- mt-md-4 pb-5">              
                                <h2 class="fw-bold mb-2 text-uppercase">Inicia Sesion</h2>
                                <p class="text-dark-50 mb-3">Porfavor ingrese su Nombre y Contraseña</p>
                                    <form action="" method="post">{% csrf_token %}
                                        <label class="form-label" for="form2Example1">Nombre</label>
                                        <div class="form-outline form-white mb-4">
                                            {{form.username}}
                                        </div>
                                        <label class="form-label" for="form2Example1">Constraseña</label>
                                        <div class="form-outline form-white mb-4">
                                            {{form.password}}
                                        </div>
                                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Inicar Sesion</button>
                                        </div>
                                        <div>
                                            <p class="mb-0">No tienes una cuenta? <a href="{% url 'registrarse' %}" class="text-white-50 fw-bold">Registrate</a>
                                            </p>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
