{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Opiniones - Blog de Autos
{% endblock %}

{% block contenido %}
<div class="card bg-light">
    <div class="text-center my-4"><h1 class="fw-bolder">Deja tu Opinion!!</h1><p class="lead mb-0">Nos encantaria escuchar lo que piensas!!</p></div>    
    <div class="card-body">
        <!-- Comment form-->
        <form action="/agregarOpinion/" method="post">{% csrf_token %}
            <div class="form-group py-2">
                <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" maxlength="50" required>
            </div>
            <div class="form-group py-2">
                <input type="text" id="txtApellido" name="txtApellido" class="form-control" placeholder="Apellido" maxlength="50" required>
            </div>
            <div class="form-group py-2">
                <input type="text" id="txtMensaje" name="txtMensaje" class="form-control" placeholder="Mensaje" maxlength="" required>
            </div>     
            <div class="form-group py-2">
                <button class="btn btn-outline-dark btn-lg px-5" type="submit">Agregar Opinion</button>
            </div>                
        </form>    
        <br>  
        <hr class="my-0">  
        <br>       
        {% for o in opinion %}
            <div class="d-flex">            
                <div class="flex-shrink-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg></div>
                <div class="ms-3">
                    <div class="fw-bold">{{o.nombre}} {{o.apellido}} <a  class="text-black-50 fw-bold" href="{% url 'editar_comentario' %}">Editar Comentario</a></div>
                        {{o.mensaje}}           
                </div>
            </div>
            <br>
        {% endfor %} 
    </div>
</div>
{% endblock %}